
pre{
	font-size: 19px;

}

button:hover{
	/*background: green;
	color: white;
	text-decoration: bold;*/
	box-shadow: inset 0 0 0 1px #00e6ac;
}

#userInput{
	width:35px;
}

#pics{
	padding-top: 25px;
}

#playingArea{
	padding-top:30px;
}



.box{
	border: 1px solid grey;
	border-radius: 10px;
	text-align: center;
	margin-top: 50px;
}

